@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

:root {
  --blue-light: #3a88ce;
  --blue-dark: #2151a1;
  --blue-black: #143676;
  --red: #eb1933;
  --white: #ffffff;
  --black: #000000;
  --grey-dark: #a2a2a2;
}

body {
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #2151a1;
  color: #ffffff;
}

